<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="nilnul.fs.git.svr_._gitlab.LimitInMbyte" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.git.svr_._github.LimitInMbyte" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.git.svr_._azure.LimitInMbyte" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.git.svr_._amazon.Limit" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.git.module.repo._cfg_.remotes_._pub.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="nilnul.fs.git.svr.client_._accVaulted.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="nilnul.fs.git.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>



			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>


			<dependentAssembly>
				<assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.33483" newVersion="1.0.8236.33483" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.8171.35738" newVersion="1.1.8171.35738" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8233.1421" newVersion="1.0.8233.1421" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._win_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7823.40081" newVersion="1.0.7823.40081" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8118.34312" newVersion="2.0.8118.34312" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8179.24277" newVersion="1.0.8179.24277" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.8272.35271" newVersion="2.1.8272.35271" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8181.34397" newVersion="1.0.8181.34397" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="_nilnul_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8100.39202" newVersion="1.0.8100.39202" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8236.38875" newVersion="2.0.8236.38875" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8168.22941" newVersion="1.0.8168.22941" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8134.33265" newVersion="1.0.8134.33265" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.37911" newVersion="1.0.8236.37911" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8171.36704" newVersion="1.0.8171.36704" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8172.32979" newVersion="1.0.8172.32979" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._acc_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8236.42358" newVersion="1.0.8236.42358" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._acc_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8236.42376" newVersion="2.0.8236.42376" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.6" newVersion="6.0.0.6" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<nilnul.fs.git.svr_._gitlab.LimitInMbyte>
   <setting name="repo" serializeAs="String">
    <value>5120</value>
   </setting>
   <setting name="push" serializeAs="String">
    <value>5120</value>
   </setting>
  </nilnul.fs.git.svr_._gitlab.LimitInMbyte>
  <nilnul.fs.git.svr_._github.LimitInMbyte>
   <setting name="repo" serializeAs="String">
    <value>5120</value>
   </setting>
   <setting name="blob" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="push" serializeAs="String">
    <value>2048</value>
   </setting>
  </nilnul.fs.git.svr_._github.LimitInMbyte>
  <nilnul.fs.git.svr_._azure.LimitInMbyte>
   <setting name="push" serializeAs="String">
    <value>5120</value>
   </setting>
   <setting name="repo" serializeAs="String">
    <value>256000</value>
   </setting>
  </nilnul.fs.git.svr_._azure.LimitInMbyte>
  <nilnul.fs.git.svr_._amazon.Limit>
   <setting name="blob" serializeAs="String">
    <value>2048</value>
   </setting>
  </nilnul.fs.git.svr_._amazon.Limit>
  <nilnul.fs.git.module.repo._cfg_.remotes_._pub.Settings1>
			<setting name="schema" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>nilnul</string>
						<string>pub</string>
					</ArrayOfString>
				</value>
			</setting>
		</nilnul.fs.git.module.repo._cfg_.remotes_._pub.Settings1>
		<nilnul.fs.git.svr.client_._accVaulted.Settings1>
			<setting name="prefix" serializeAs="String">
				<value>git</value>
			</setting>
		</nilnul.fs.git.svr.client_._accVaulted.Settings1>
		<nilnul.fs.git.Properties.Settings>
			<setting name="svr_vs__prefix" serializeAs="String">
				<value />
			</setting>
			<setting name="moduleRemoteKeysVs" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>vs</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysAw" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>aws</string>
						<string>aw</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysBb" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>bitBucket</string>
						<string>bitbucket</string>
						<string>bb</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysGl" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>gitLab</string>
						<string>gitlab</string>
						<string>gl</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemoteKeysAwGlBbVs" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>awGlBbVs</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="moduleRemote_azure" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>azure</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="svrAzureAcc" serializeAs="String">
				<value />
			</setting>
			<setting name="upgraded" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="svr_amazon__region" serializeAs="String">
				<value />
			</setting>
			<setting name="clients_pub_xml" serializeAs="String">
				<value />
			</setting>
			<setting name="clients_pub_base6four" serializeAs="String">
				<value />
			</setting>
			<setting name="clients_pub_dict" serializeAs="String">
				<value />
			</setting>
			<setting name="clients_my_base6four" serializeAs="String">
				<value />
			</setting>
		</nilnul.fs.git.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>
