<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.240820.60235" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.240820.60236" targetFramework="net48" />
  <package id="AWSSDK.CodeCommit" version="3.7.401.11" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.400.11" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="GitLabApiClient" version="1.8.0" targetFramework="net481" />
  <!--<package id="Ix-Async" version="1.2.5" targetFramework="net481" />-->
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net481" />
  <!--<package id="Microsoft.Azure.Services.AppAuthentication" version="1.6.2" targetFramework="net48" />-->
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Memory" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="19.225.1" targetFramework="net481" />
  <package id="Microsoft.TeamFoundationServer.Client" version="19.225.1" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Services.Client" version="19.225.1" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.240822.93708" targetFramework="net48" />
  <package id="nilnul._acc_._LINQ_" version="1.1.240822.93441" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.240823.120852" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.240820.61016" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.240820.61209" targetFramework="net48" />
  <package id="nilnul._data_._LIB_" version="1.1.240816.14601" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.240820.183300" targetFramework="net48" />
  <package id="nilnul._lang_._LIB_" version="1.1.240820.191307" targetFramework="net48" />
  <package id="nilnul._linq_._LIB_" version="1.1.231012.113523-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.240820.180030" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.240820.180032" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.240820.60457" targetFramework="net48" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.240822.162256" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.240820.175759" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.240820.175638" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.240820.182010" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.240820.180349" targetFramework="net48" />
  <package id="nilnul._web_._LIB_" version="1.1.240823.120553" targetFramework="net48" />
  <package id="nilnul._win_._LIB_" version="1.1.240820.195010" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.240820.172116" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.240820.180817" targetFramework="net48" />
  <package id="nilnul.lang_._cognom_._LIB_" version="2.0.240820.191858" targetFramework="net48" />
  <package id="nilnul.lang_._cot_._LIB_" version="2.0.240820.192426" targetFramework="net48" />
  <package id="nilnul.lang_._cot_._LIB4FX_" version="1.0.240820.181034" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.240820.180619" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.240820.181307" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.240820.181730" targetFramework="net48" />
  <package id="Octokit" version="13.0.1" targetFramework="net481" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net481" />
  <package id="System.Console" version="4.3.1" targetFramework="net481" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net481" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.0.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net481" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net481" />
</packages>
